@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap");
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

* {
  font-family: "Nunito Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #1db954;
  color: white;
  margin-left: 45%;
  margin-right: 45%;
  border-radius: 10px;
  padding: 10px;
  border-style: ridge;
  border-color: #11582a;
  margin-right: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: #1db954;
  color: white;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
  padding: 10px;
  border-style: ridge;
  border-color: #11582a;
}

img {
  height: 250px;
  background-color: #1db954;
  color: white;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
  padding: 10px;
  border-style: ridge;
  border-color: #11582a;
}

@media (min-width: 1051px) {
  img {
    margin-left: 15%;
    margin-right: 15%;
    height: 500px;
  }
}

@media (max-width: 1050px) {
  img {
    margin-left: 15%;
    margin-right: 15%;
    height: 200px;
  }
}

@media (max-width: 531) {
  img {
    height: 100px;
  }
}

@media (max-width: 450px) {
  img {
    margin-left: 7%;
    margin-right: 7%;
    width: 75%;
    height: 75%;
  }
}

@media (max-width: 352px) {
  img {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 807px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (max-width: 450px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 90%;
  }
}

@media (max-width: 352px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

footer {
  color: white;
}

.icons {
  width: 50px;
  height: 50px;
}

/* @media (max-width: 450px) {
  .icons {
    ;
  }
} */

::-webkit-scrollbar {
  width: 0;
}
#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(10px);
}
#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

img.arrow {
  background-color: black;
  width: 40px;
  height: 20px;
  border: none;
  margin: -20px;
}
